.container {
   max-width: 120rem;
   margin: 8rem auto;
   background: var(--grey-light-1);
   box-shadow: var(--shadow-dark);
   min-height: 50rem;
}

.header {
   height: 7rem;
   background: var(--white);
   border-bottom: 1px solid var(--grey-light-2);
}

.content {
   display: flex;
}

.sidebar {
   background: var(--grey-dark-1);
   flex: 0 0 18%;
}

.hotel-view {
   background: var(--white);
   flex: 1;
}
